@import url(//fonts.googleapis.com/css?family=Montserrat:700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
	font: 16px/1.5 Inconsolata, sans-serif;
}

.notice {
	background: #000;
	color: #fff;
	font-size: 25px;
}



#videoloop {
		display: none;
	}
@media (min-width: 30rem) {
	#videoloop {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		border-top: 1px solid #000;
	}
}

#cover {
	position: fixed;
	overflow: hidden;
	top: 0;

	height: 100vh;

	color: #fff;
	text-align: center;
}
#cover::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;
		z-index: 20;

		background: url("../media/cover.jpg") 50% 50% no-repeat;
		background-size: cover;
}
/* @media (min-width: 30rem) {
	#cover::before {
		background: url("../media/pattern.png");
		opacity: 0.7;
	}
} */

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;
	transform: translate(-50%, -50%);
	
	/* doesn't play well with pattern.png */
	mix-blend-mode: overlay;
}

header {
	position: absolute;
	top: calc(50% + 4rem);
	left: 50%;
	z-index: 30; 
	transform: translate(-50%, -50%); 
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.responsive-video iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

footer {
	margin-top: 5rem;
	font-size: 85%;
}

@media (min-width: 30rem) {
	html {
		font-size: 20px;
	}
}

body {
	margin: 0 0 5rem;
	background: #fff1e0;
	color: #fff;

	background: url("../media/cover.jpg") 50% 50% no-repeat;
	background-size: cover;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

@media (min-width: 30rem) {
	body {
		
	}
}

a {
	color: #0074d9; /* From http://clrs.cc */
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a.button {
	display: inline-block;

	line-height: 2rem;
	margin: 0.5rem;
	padding: 0px 1rem;

	background: rgba(0,0,0,0.8);
	border-radius: 1rem;
	color: #fff1e0;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	-webkit-transition  : all .3s;
	-moz-transition     : all .3s;
	transition          : all .3s;
}
	a.button:hover,
	a.button:focus {
		background: rgba(0,0,0,1);
		border-width: 2px;
		font-size: 120%;
		text-decoration: none;
	}


h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	margin: 0 0 0.5rem -0.1rem /* align left edge */;
	line-height: 1;
	color: #111;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

@media (min-width: 30rem) {
	h1 {
		font-size: 4rem;
		margin-bottom: 3rem;
	}
}

h1 a {
	color: #fff;
}
	h1 a:hover,
	h1 a:focus {
		text-decoration: none;
	}

h2 {
	margin-top: 2rem;
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
	h2 {
		margin-top: 2.5rem;
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

h3, h4, h5, h6 {
	margin-top: 1.5rem;
	font-size: 1rem;
	text-transform: uppercase;
}

p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, ol {
	padding-left: 1.5rem;
}

dd {
	margin-left: 1.5rem;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding: .5rem 1rem;
	border-left: .25rem solid #ccc;
	color: #666;
}

blockquote p:last-child {
	margin-bottom: 0;
}

hr {
	border: none;
	margin: 1.5rem 0;
	border-bottom: 1px solid #ccc;
	position: relative;
	top: -1px;
}

main img, main iframe {
	max-width: 100%;
}

main img {
	margin: 0 auto;
	display: block;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td, th {
	padding: .25rem .5rem;
	border: 1px solid #ccc;
}

pre, code {
	font-family: inherit;
	background-color: #eee;
}

pre {
	padding: .5rem 1rem;
	font-size: 0.8rem;
}

code {
	padding: .1rem .25rem;
}

pre > code {
	padding: 0;
}

main {
	position: relative;

	max-width: 30rem;
	margin: 0 auto;
	padding: 0 1rem;
}
