<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>  
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.factsaboutorange.me/" />
  <meta property="og:image" content="http://www.factsaboutorange.me/media/cover.jpg" />
  <meta property="og:description" content="{{ site.description }}"/>


  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">  
  <link rel="icon" type="image/ico" href="favicon.png">
{% include head.html %}
</head>
<body>
  <!--[if lt IE 11]>
  <p class="notice">You are using a very old browser therefore you can’t expect this website —or “the internet”— to work properly.<br />
  Do yourself a favor and <a href="http://browsehappy.com/">download a better one</a>.</p>
  <![endif]-->
  <div id="cover" role="banner">
    <iframe id="videoloop" src="https://player.vimeo.com/video/156748846?autoplay=1&loop=1&color=ff9933&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <main>
    {{ content }}
    <footer>
    — factsaboutorange.com
    </footer>
  </main>
{% include scripts.html %}
</body>
</html>
